.row {
  background-color: rgb(175, 159, 129);
}
li.active .tab-link {
  background-color: #fff9e6;
  color: #2e7d32;
  font-weight: bolder;
}
.tab-link {
  background-color: #e2ddca;
  font-weight: bold;
  color: #2e7d32;
}
ul {
  background-color: rgb(175, 159, 129);
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
a {
  text-decoration: none;
}
.logo {
  background-color: rgb(175, 159, 129);
}
.logo h1 {
  margin-top: 2%;
  margin-left: 1%;
  padding-bottom: 1%;
  color: #2e7d32;
  font-family: "Apple Chancery", cursive;
  font-weight: bold;
  font-style: italic;
  font-size: xxx-large;
}

.titleDecoration {
  position: absolute;
  height: 140px;
  width: 350px;
  left: 268px;
  bottom: -52px;
}
.cornerDecoration {
  height: 200px;
  width: 350px;
  position: absolute;
  bottom: -110px;
  right: 25px;
}

.auth-button {
  position: absolute;
  bottom: 0%;
  /* right: 55%; */
  /* padding: 1%;
  margin-bottom: 2%; */
  font-size: 2em;
  color: #2e7d32;
  /* background-color: #fff9e6; */
  background-color: rgb(175, 159, 129);
}
.auth-button:hover,
.auth-button:focus,
.auth-button:active {
  text-decoration: none;
  border: none;
  outline: none;
  background-color: rgb(148, 135, 112);
}
