<span *ngIf="!isLoading">
  <form *ngIf="foodItem || !editMode" [formGroup]="foodForm" (ngSubmit)="onSave()">
      <div class="row" style="padding-bottom: 2%;">
          <div class="col-xs-4">
              <label for="name">Food Name: </label>
              <input type="text" id="name" class="form-control" formControlName="name">
              <mat-error *ngIf="foodForm.get('name').hasError('maxlength')">The maximum length for this field is {{foodForm.get('name').errors.maxlength.requiredLength}} characters.</mat-error>
              <mat-error *ngIf="foodForm.get('name').hasError('required') && foodForm.get('name').touched">This field is required.</mat-error>
          </div>
          <div class="col-xs-4">
              <label for="brand">Brand Name: </label>
              <input type="text" id="brand" class="form-control" formControlName="brand">
              <mat-error *ngIf="foodForm.get('brand').hasError('maxlength')">The maximum length for this field is {{foodForm.get('brand').errors.maxlength.requiredLength}} characters.</mat-error>
              <mat-error *ngIf="foodForm.get('brand').hasError('required') && foodForm.get('brand').touched">This field is required.</mat-error>
          </div>
          <div class="col-xs-2">
              <label for="quantity">Quantity: </label>
              <input type="number" id="quantity" class="form-control" formControlName="quantity">
              <mat-error *ngIf="foodForm.get('quantity').hasError('min')">The minimum amount for this field is 0.</mat-error>

          </div>
          <div class="col-xs-2">
              <label for="expDate">Expiration Date</label>
              <input type="date" id="expDate" class="form-control" formControlName="expDate">
          </div>
      </div>
      <div class="row">
          <div class="col-xs-4">
              <label for="size">Size: </label>
              <input type="text" id="size" class="form-control" formControlName="size">
              <mat-error *ngIf="foodForm.get('size').hasError('maxlength')">The maximum length for this field is {{foodForm.get('size').errors.maxlength.requiredLength}} characters.</mat-error>
              <mat-error *ngIf="foodForm.get('size').hasError('required') && foodForm.get('size').touched">This field is required.</mat-error>
          </div>
          <div class="col-xs-4">
              <label>Location: </label>
              <input type="text" id="location" class="form-control" formControlName="location">
              <mat-error *ngIf="foodForm.get('location').hasError('maxlength')">The maximum length for this field is {{foodForm.get('location').errors.maxlength.requiredLength}} characters.</mat-error>
              <mat-error *ngIf="foodForm.get('location').hasError('required') && foodForm.get('location').touched">This field is required.</mat-error>
          </div>
          <div class="col-xs-4">
              <label>Storage: </label>
              <select name="storageType" id="storageType" class="form-control" formControlName="storageType">
                  <option value="Pantry">Pantry</option>
                  <option value="Freezer">Freezer</option>
              </select>
          </div>
      </div>

      <div formArrayName="tags">
          <div class="row">
              <div class="col-xs-1">
                  <label>Tags: </label>
                  <button type="button" (click)="onAddTag()" mat-raised-button color="accent">Add Tag</button>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-2" *ngFor="let control of getControl(); let i=index">
                  <input type="text" class="form-control" [formControlName]='i'>
                  <button type="button" class="btn btn-danger" (click)="onDeleteTag(i)">X</button>
              </div>
          </div>
      </div>



      <div class="row">
          <div class="col-xs-9"></div>
          <div class="col-xs-1">
              <button mat-raised-button color="accent" type="button" [disabled]="!foodForm.valid" *ngIf="editMode"
                  (click)="onSave()">Save</button>
              <button mat-raised-button color="accent" type="button" [disabled]="!foodForm.valid" *ngIf="!editMode"
                  (click)="onAddItem()">Add
                  Item</button>
          </div>
          <div class="col-xs-2">
              <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
          </div>
      </div>
  </form>
</span>
<mat-spinner color="accent" *ngIf="isLoading"></mat-spinner>
