<div class="row card-title">
  <div class="col-xs-12">
    <span class="text-title">{{ foodItem?.name }}</span>
  </div>
</div>
<div class="redline"></div>
<div class="row card-row">
  <div class="col-xs-4"><label>Brand Name: </label></div>
  <div class="col-xs-4"><label>Quantity:</label></div>
  <div class="col-xs-4"><label>Expiration Date:</label></div>
</div>
<div class="blueline"></div>
<div class="row card-row">
  <div class="col-xs-4"><h4 class="notecard-spacing">{{ foodItem?.brand }}</h4></div>
  <div class="col-xs-4"><h4 class="notecard-spacing">{{ foodItem?.quantity }}</h4></div>
  <div class="col-xs-4"><h4 class="notecard-spacing">{{ foodItem?.expDate | date}}</h4></div>
</div>
<div class="blueline"></div>
<div class="row card-row"></div>
<div class="blueline"></div>
<div class="row card-row">
  <div class="col-xs-4"><label>Size: </label></div>
  <div class="col-xs-4"><label>Location:</label></div>
  <div class="col-xs-4"><label>Storage Type:</label></div>
</div>
<div class="blueline"></div>
<div class="row card-row">
  <div class="col-xs-4"><h4 class="notecard-spacing">{{ foodItem?.size }}</h4></div>
  <div class="col-xs-4"><h4 class="notecard-spacing">{{ foodItem?.location }}</h4></div>
  <div class="col-xs-4"><h4 class="notecard-spacing">{{ foodItem?.storageType }}</h4></div>
</div>
<div class="blueline"></div>
<div class="row card-row"></div>
<div class="blueline"></div>
<div class="row card-row">
  <div class="col-xs-12"><label>Tags:</label></div>
</div>

<span *ngIf="ready">
<span *ngFor="let row of foodItem?.tags | reorderTags:3">
  <div class="blueline"></div>
  <div  class="row card-row">
      <div class="col-xs-4" *ngFor="let tag of row">
        <h4>{{tag}}</h4>
      </div>
  </div>
</span>
</span>

<div class="blueline"></div>
<div class="row card-row">
  <div class="col-xs-11"></div>
  <div class="col-xs-1">
      <button mat-raised-button color="accent" (click)="onEdit()" *ngIf="userIsAuthenticated">Edit</button>
  </div>
</div>
<div class="blueline"></div>
