<div class="row card-title">
  <div class="col-xs-12">
    <span class="text-title">{{ foodItem?.name }}</span>
  </div>
</div>
<div class="redline"></div>
<div class="row card-row">
  <div class="col-xs-4"><label>Brand Name: </label></div>
  <div class="col-xs-4"><label>Quantity:</label></div>
  <div class="col-xs-4"><label>Expiration Date:</label></div>
</div>
<div class="blueline"></div>
<div class="row card-row">
  <div class="col-xs-4"><h4>{{ foodItem?.brand }}</h4></div>
  <div class="col-xs-4"><h4>{{ foodItem?.quantity }}</h4></div>
  <div class="col-xs-4"><h4>{{ foodItem?.expDate | date}}</h4></div>
</div>
<div class="blueline"></div>
<div class="row card-row"></div>
<div class="blueline"></div>
<div class="row card-row">
  <div class="col-xs-4"><label>Size: </label></div>
  <div class="col-xs-4"><label>Location:</label></div>
  <div class="col-xs-4"><label>Storage Type:</label></div>
</div>
<div class="blueline"></div>
<div class="row card-row">
  <div class="col-xs-4"><h4>{{ foodItem?.size }}</h4></div>
  <div class="col-xs-4"><h4>{{ foodItem?.location }}</h4></div>
  <div class="col-xs-4"><h4>{{ foodItem?.storageType }}</h4></div>
</div>
<div class="blueline"></div>
<div class="row card-row"></div>
<div class="blueline"></div>
<div class="row card-row">
  <div class="col-xs-12"><label>Tags:</label></div>
</div>

<span *ngIf="ready">
<span *ngFor="let row of foodItem?.tags | reorderTags:3">
  <div class="blueline"></div>
  <div  class="row card-row">
      <div class="col-xs-4" *ngFor="let tag of row">
        <h4>{{tag}}</h4>
      </div>
  </div>
</span>
</span>

<div class="blueline"></div>
<div class="row card-row">
  <div class="col-xs-11"></div>
  <div class="col-xs-1">
      <button mat-raised-button color="accent" (click)="onEdit()" *ngIf="userIsAuthenticated">Edit</button>
  </div>
</div>
<div class="blueline"></div>


<!-- <div class="row">
    <div class="col-xs-4">
        <label>Food Name: </label>
        <h4>{{foodItem.name}}</h4>

    </div>
    <div class="col-xs-4">
        <label>Brand Name: </label>
        <h4>{{ foodItem.brand }}</h4>
    </div>
    <div class="col-xs-2">
        <label>Quantity:</label>
        <h5>{{ foodItem.quantity }}</h5>
    </div>
    <div class="col-xs-2">
        <label>Expiration Date:</label>
        <h5>{{ foodItem.expDate | date}}</h5>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <label>Size: </label>
        <h4>{{ foodItem.size }}</h4>
    </div>
    <div class="col-xs-4">
        <label>Location:</label>
        <h4>{{ foodItem.location }}</h4>
    </div>
    <div class="col-xs-4">
        <label>Storage Type:</label>
        <h4>{{ foodItem.storageType }}</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-1">
        <label>Tags: </label>
    </div>
</div>


<div *ngFor="let tag of foodItem.tags; let i = index">
    <div *ngIf="i % 3 == 0" class="row">
        <div class="col-xs-4">{{ tag }}</div>
        <div class="col-xs-4" *ngIf="i + 1 < foodItem.tags.length">{{ foodItem.tags[i + 1] }}</div>
        <div class="col-xs-4" *ngIf="i + 2 < foodItem.tags.length">{{ foodItem.tags[i + 2] }}</div>
    </div>
</div> -->
<!-- <div class="col-xs-11" *ngFor="let el of foodItem.tags">
        <h4>{{ el }}</h4>
    </div> -->

