<div class="food-list-container">
  <!-- <div class="row">\
    <div class="col-xs-2 clear-box" *ngIf="expirationMode">
        <form (ngSubmit)="setDate(f)" #f=ngForm>
            <label for="dateInput">Expires before:</label>
            <input class="form-control" type="date" id="dateInput" name="dateInput" [ngModel]="startDate" required>
            <button mat-raised-button color="accent" type="submit" [disabled]="!f.valid">Set date</button>
        </form>
    </div>
</div> -->
<mat-spinner *ngIf="isLoading" color="accent"></mat-spinner>
<div class="row" *ngIf="!isLoading">

  <div class="col-xs-12">
    <span *ngIf="!expirationMode">
        <app-food-item *ngFor="let item of (displayItems | filter:filterString:'storageType' |
            filter:searchfields.name:'name':true | filter:searchfields.brand:'brand':true |
            filter:searchfields.expDate:'expDate':true | filter:searchfields.quantity:'quantity':true |
            filter:searchfields.tags:'tags':true),
            let i = index" [item]="item" [index]="item.id">
        </app-food-item>
      </span>
  </div>

  <div class="col-xs-12">
    <div *ngIf="expirationMode">
        <div *ngFor="let item of displayItems | filterDates:filterDate |
        filter:searchfields.name:'name':true | filter:searchfields.brand:'brand':true |
        filter:searchfields.expDate:'expDate':true | filter:searchfields.quantity:'quantity':true |
        filter:searchfields.tags:'tags':true, let i = index"
            [ngClass]="{'red-box': compareDate(item.expDate,3), 'orange-box': compareDate(item.expDate,2), 'yellow-box': compareDate(item.expDate, 1), 'clear-box': compareDate(item.expDate, 0)}">
            <app-food-item [item]="item" [index]="item.id">
            </app-food-item>
        </div>
    </div>
  </div>

</div>

</div>
<mat-paginator *ngIf="displayItems.length > 0" [length]="totalItems" [pageSize]="itemsPerPage" [pageSizeOptions]="pageSizeOptions" [pageIndex]="currentPage" (page)="onPageChanged($event)" color="accent"></mat-paginator>
