.food-item-row {
  height: 65px;
}

.center-button {
  margin-top: 10%;
  margin-left: -5%;
}
.expired {
  background: rgba(155, 0, 0, 0.4);
  padding: 3%;
  border-radius: 6px;
}

.food-item-text {
  font-weight: 400;
  font-size: 2rem;
}
