@use "~@angular/material" as mat;

@include mat.core();

$MyPantry-primary: mat.define-palette(mat.$amber-palette, 100);
$MyPantry-accent: mat.define-palette(mat.$green-palette, 800);
$MyPantry-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $MyPantry-primary,
      accent: $MyPantry-accent,
      warn: $MyPantry-warn,
    ),
  )
);
@include mat.all-component-themes($my-theme);
