/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fff9e6;
  /* background-color: rgb(175, 159, 129); */
  overflow-y: auto;
  overflow-x: hidden;
}

/* My Green color = #2e7d32
   My Beige color = fff9e6
   My Darker Beige = e2ddca
*/
