.not-found-text {
  margin: auto;
  color: #2e7d32;
  font-weight: bolder;
  padding-bottom: 5%;
}

.not-found-row {
  padding-top: 2%;
}

mat-card {
  margin: auto;
  margin-top: 3%;
  background-color: #e2ddca;
  width: 50%;
}
.spacer {
  background-color: #fff9e6;
  padding: 3%;
}

.four-oh-four {
  color: #2e7d32;
  text-align: center;
  font-size: 4rem;
  font-weight: bolder;
  font-family: math;
  margin: 3%;
}
