<div class="container">
<div class="row">
    <div class="col-xs-2 scrollable">
        <button mat-raised-button color="accent" (click)="onSearch()">Search</button>
        <button *ngIf="!impendingExpirationMode && userIsAuthenticated" mat-raised-button color="accent" type="button" (click)="onAddItem()">Add
            Item</button>
          </div>
          <div class="col-xs-10">
            <div class="date-form" *ngIf="impendingExpirationMode">
              <form (ngSubmit)="setDate(f)" #f=ngForm>

                  <label class="form-child date-label" for="dateInput">Expires before:</label>
                  <input class="form-control form-child date-input" type="date" id="dateInput" name="dateInput" [ngModel]="startDate" required>
                  <button class="form-child" mat-raised-button color="accent" type="submit" [disabled]="!f.valid">Set date</button>
              </form>
          </div>
          </div>


      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="labels-container">
            <div class="row">
              <div class="col-xs-11">
                <div class="row">
                  <div class="col-xs-3 col-label">Name</div>
                  <div class="col-xs-3 col-label">Brand Name</div>
                  <div class="col-xs-2 col-label">Size</div>
                  <div class="col-xs-2 col-label">Quantity</div>
                  <div class="col-xs-1 col-label">Expiration Date</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>



          <div class="row">
            <div class="col-xs-12">
              <app-food-list></app-food-list>
            </div>
          </div>

<hr class="leafyVine">
<mat-card class="card">
  <div class="row">
      <div class="col-xs-12">
          <router-outlet></router-outlet>
      </div>
  </div>
</mat-card>
</div>
